<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :created_at, :class => "date-field", :value => @post.created_at.to_s(:db) %>
  </div>
  <div class="field">
    <%= f.label :tags %><br/>
    <% @post.tags ||= [] %>
    <%= f.text_field :tags, :value => @post.tags.join(", ") %><br/>
    Comma separated list please: ruby, awesome, Erlang
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
